---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";

export async function getStaticPaths() {
  const posts = await Astro.glob("../../posts/*.md");
  return posts.map((p) => ({
    params: { slug: p.file.split("/").pop().split(".").shift() },
    props: { post: p },
  }));
}

const { Content, frontmatter } = Astro.props.post;
const { title, description, date } = frontmatter;
---

<Layout title={title}>
  <Hero title={title} subtitle={description} />
  <article class="my-4 mx-auto prose lg:prose-lg p-4 prose-headings:font-serif">
    <Content />
    <div class="text-gray-500 text-sm">
      Published on {
        new Date(date).toLocaleString("en-US", {
          year: "numeric",
          month: "long",
          day: "2-digit",
        })
      }
    </div>
  </article>
</Layout>
