---
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await Astro.glob("../../posts/*.md");
  return posts.map((p) => ({
    params: { slug: p.file.split("/").pop().split(".").shift() },
    props: { post: p },
  }));
}

const { Content, frontmatter } = Astro.props.post;
const { title, description, date } = frontmatter;
---

<Layout title={title}>
  <main>
    <article class="my-4 mx-auto prose">
      <h1 class="text-3xl my-4">
        <span
          class="text-transparent bg-clip-text bg-gradient-to-r from-indigo-500 to-red-500 font-bold"
          >{title}
        </span>
      </h1>
      <Content />
      <div class="text-gray-500 text-sm">
        Published on {
          new Date(date).toLocaleString("en-US", {
            year: "numeric",
            month: "long",
            day: "2-digit",
          })
        }
      </div>
    </article>
  </main>
</Layout>
