---
import Layout from "../../layouts/Layout.astro";

let posts = await Astro.glob("../../posts/*.md");
posts = posts.sort(
  (a, b) =>
    new Date(b.frontmatter.date).valueOf() -
    new Date(a.frontmatter.date).valueOf()
);
---

<Layout title="Blog - kvrohit.dev">
  <nav>
    <h1 class="text-3xl my-4">
      <span
        class="text-transparent bg-clip-text bg-gradient-to-r from-indigo-500 to-red-500 font-bold"
        >Blog
      </span>
    </h1>
    <ul>
      <li>
        <a class="text-gray-500 hover:text-gray-800" href="/">&larr; home</a>
      </li>
    </ul>
  </nav>
  <main>
    {
      posts.map((post, index) => {
        const href = `/blog/${post.file.split("/").pop().split(".").shift()}`;
        return (
          <div class="my-8 flex space-x-4 divide-x-2">
            <div class="flex items-center justify-center text-sm">
              <p>
                {new Date(post.frontmatter.date).toLocaleString("en-IN", {
                  year: "numeric",
                  month: "numeric",
                  day: "2-digit",
                })}
              </p>
            </div>
            <div class="px-4">
              <h2 class="text-2xl mb-2">
                <a class="hover:text-indigo-800" href={href}>
                  {post.frontmatter.title} &rarr;
                </a>
              </h2>
              <p class="text-gray-500">{post.frontmatter.description}</p>
            </div>
          </div>
        );
      })
    }
  </main>
</Layout>
