---
import Layout from "../../layouts/Layout.astro";

let posts = await Astro.glob("../../posts/*.md");
posts = posts.sort(
  (a, b) =>
    new Date(b.frontmatter.date).valueOf() -
    new Date(a.frontmatter.date).valueOf()
);
---

<Layout title="Blog - kvrohit.dev">
  <section class="text-white bg-gray-900">
    <div class="max-w-screen-xl px-4 py-32 mx-auto">
      <!-- lg:h-screen lg:items-center lg:flex" -->
      <div class="max-w-3xl mx-auto text-center">
        <h1
          class="text-3xl font-extrabold text-transparent sm:text-5xl bg-clip-text bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 py-2"
        >
          Blog posts
        </h1>
      </div>
    </div>
  </section>
  <main
    class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
  >
    <div class="mb-10 border-b divide-y">
      {
        posts.map((post, index) => {
          const href = `/blog/${post.file.split("/").pop().split(".").shift()}`;
          return (
            <div class="grid py-8 sm:grid-cols-4">
              <div class="mb-4 sm:mb-0">
                <div class="space-y-1 text-xs font-semibold tracking-wide uppercase">
                  <a
                    href="/"
                    class="transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800"
                    aria-label="Category"
                  >
                    {post.frontmatter.category}
                  </a>
                  <p class="text-gray-600">
                    {new Date(post.frontmatter.date).toLocaleString("en-US", {
                      day: "2-digit",
                      month: "short",
                      year: "numeric",
                    })}
                  </p>
                </div>
              </div>
              <div class="sm:col-span-3">
                <div class="mb-3">
                  <a
                    href={href}
                    aria-label="Article"
                    class="inline-block text-black transition-colors duration-200 hover:text-deep-purple-accent-700"
                  >
                    <p class="text-3xl font-extrabold leading-none sm:text-4xl xl:text-4xl">
                      {post.frontmatter.title}
                    </p>
                  </a>
                </div>
                <p class="text-gray-700">{post.frontmatter.description}</p>
              </div>
            </div>
          );
        })
      }
    </div>
  </main>
</Layout>
