---
import fs from "node:fs";

try {
  fs.accessSync("/tmp/count.txt");
} catch {
  fs.writeFileSync("/tmp/count.txt", "0");
}

const count = fs.readFileSync("/tmp/count.txt", "utf-8");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="{Astro.generator}" />
    <script src="https://unpkg.com/htmx.org@1"></script>
    <title>Astro</title>
  </head>
  <body class="p-4 bg-gray-200 text-gray-600">
    <h1 class="text-2xl font-thin mb-4 px-4">
      Count: <span id="count">{count}</span>
    </h1>

    <button
      class="p-4 border border-gray-400 rounded-md hover:bg-gray-300 active:bg-gray-400"
      hx-post="/api/increment"
      hx-swap="none">Increment</button
    >
    <button
      class="p-4 border border-gray-400 rounded-md hover:bg-gray-300 active:bg-gray-400"
      hx-post="/api/decrement"
      hx-swap="none">Decrement</button
    >
  </body>
</html>
