---
export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="">
    <header class="bg-gray-900">
      <div
        class="flex items-center h-16 max-w-screen-xl gap-8 px-4 mx-auto sm:px-6 lg:px-8"
      >
        <a class="block text-blue-400" href="/">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="32"
            height="32"
            fill="currentColor"
            ><path fill="none" d="M0 0h24v24H0z"></path>
            <path
              d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm9 12v2h6v-2h-6zm-3.586-3l-2.828 2.828L7 16.243 11.243 12 7 7.757 5.586 9.172 8.414 12z"
            ></path>
          </svg>
        </a>

        <nav aria-labelledby="header-navigation">
          <h2 class="sr-only" id="header-navigation">Header navigation</h2>

          <ul class="flex items-center gap-6 text-xs tracking-wider uppercase">
            <li>
              <a class="text-white transition hover:text-white/75" href="/">
                home
              </a>
            </li>
            <li>
              <a class="text-white transition hover:text-white/75" href="/blog">
                Blog
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <slot />
    <style>
      @font-face {
        font-family: "IBM Plex Mono";
        src: url("/fonts/IBMPlexMono-Regular.woff2") format("woff2"),
          url("/fonts/IBMPlexMono-Regular.woff") format("woff");
        font-weight: normal;
        font-style: normal;
      }
      body {
        font-family: "IBM Plex Mono";
      }
    </style>
  </body>
</html>
