---
export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="md:container mx-auto px-8 2xl:px-32">
    <slot />
    <style>
      @font-face {
        font-family: "IBM Plex Mono";
        src: url("/fonts/IBMPlexMono-Regular.woff2") format("woff2"),
          url("/fonts/IBMPlexMono-Regular.woff") format("woff");
        font-weight: normal;
        font-style: normal;
      }
      body {
        font-family: "IBM Plex Mono";
      }
    </style>
  </body>
</html>
