---
export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="">
    <header class="bg-gray-900">
      <div
        class="flex items-center h-16 max-w-screen-xl gap-8 px-4 mx-auto sm:px-6 lg:px-8"
      >
        <a class="block text-blue-400" href="/">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-8"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M8 9l3 3-3 3m5 0h3M5 20h14a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
            ></path>
          </svg>
        </a>

        <div class="flex items-center justify-end flex-1 justify-between">
          <nav aria-labelledby="header-navigation">
            <h2 class="sr-only" id="header-navigation">Header navigation</h2>

            <ul class="flex items-center gap-6 text-sm">
              <li>
                <a
                  class="text-white transition hover:text-white/75"
                  href="/blog"
                >
                  Blog
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <slot />
    <style>
      @font-face {
        font-family: "IBM Plex Mono";
        src: url("/fonts/IBMPlexMono-Regular.woff2") format("woff2"),
          url("/fonts/IBMPlexMono-Regular.woff") format("woff");
        font-weight: normal;
        font-style: normal;
      }
      body {
        font-family: "IBM Plex Mono";
      }
    </style>
  </body>
</html>
